body{
	margin-left: 5em;
	margin-right: 5em;
	background-color: #fcfcfc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}
h1, h2, h3, h4, p {
	font-family: Arial, Helvetica, sans-serif;
}
/*#videos_container {*/
#container {
	text-align: center;
	/*overflow: scroll;*/
	max-height: 200%;
	/*background-color: rgb(250, 250, 250);*/
	margin-top: 0px;
}
.row{
	margin-top: 30px;
}
.header-column{
	margin-top: -130px; 
	padding-top: 0px; 
	border-style: none;
	padding-left: 5%;
	padding-right: 5%;
}
.subtitle{
	font-size: 1em; 
	padding-left: 5%;
	padding-right: 5%;
}
.borderrow {
	display: inline-block;
	border: solid thin #c8c8c8;
	border-radius: 0.4em;
	max-width: 86%;
	text-align: center;
	/*
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	*/
}
.h3strong {
	text-align: left;
	font-weight: bold;
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.truncate {
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.truncate2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2em;
}
.page-header{
	margin-left: 1em;
	margin-right: 1em;
	padding-top: -50px
}
#postTwitt {
	background: #ebebeb;
	margin: 1% 7% 1% 7%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.vid-responsive {  
  display: block;
  max-width: 100%;
  height: 220px;
  
  min-height: 10%;
  max-height: 220px;
  margin: 1em;

}
.iframe-center {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tweetembed {
	text-align: left;
	padding: 1.4em;
}
.tweetimg {
	float: left;
	margin-right: 0.6em;
	border-radius: 0.8em;
}

.avatar_p {
	font-weight: bold;
	font-size: 1.2em;
}

.username_p {
	font-size: 0.8em;
	color: rgb(184, 184, 184);
}

.tweet_text_p {
	font-size: 1.4em;
	font-family: Garamond, "Adobe Garamond",  "ITC Garamond", Celeste, Baskerville, Bodoni, Cambria, Serif;
	line-height: 0.9;
	
}

.time_text_p {
	font-size: 0.8em;
	color: rgb(184, 184, 184);
}

.tweetembed .tweetlogo {}

.tweetlogo{
	position: absolute;
	max-width: 30px;
    right: 0px;
}

#embedtimeline {
	width: 100%;

}
blockquote.twitter-tweet {
  text-align: left;
  display: inline-block;
  font-family: Garamond, "Adobe Garamond",  "ITC Garamond", Celeste, Baskerville, Bodoni, Cambria, Serif;
  font-size: 12px;
  font-weight: bold;
  /*line-height: 16px;*/
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 0 0 0 0;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}
 
blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  /*line-height: 20px;*/
  line-height: 0.9;
}
 
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
 
blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
.nosidepadding{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}